.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    
  }
  
  .featuredItem {
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    flex: 0 0 calc(33.333% - 20px); 
    transition: transform 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .featuredItem:hover {
    transform: scale(1.05);
  }
  
  .featuredImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .featuredTitles {
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    bottom: 20px;
    left: 20px;
  }
  
  /* Adjusting styles for smaller screens */
  @media screen and (max-width: 600px) {
    .featured {
      display: flex;
      flex-direction: column;
      width: 80%;
    }
  
    .featuredItem {
      flex: 0 0 calc(50% - 20px); /* Two items per row on smaller screens */
    }
  }
  