
.bottom{

    width: 100%;
    height: 4rem;
    background: #3a424a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
  
}

.first-div{
  padding: 0 1rem;
}

.btn-88,
.btn-88 *,
.btn-88 :after,
.btn-88 :before,
.btn-88:after,
.btn-88:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-88 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-88:disabled {
  cursor: default;
}
.btn-88:-moz-focusring {
  outline: auto;
}
.btn-88 svg {
  display: block;
  vertical-align: middle;
}
.btn-88 [hidden] {
  display: none;
}
.btn-88 {
  background: none;
  border: 5px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 90px;
  -webkit-mask-image: none;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  width: 90px;
}
.btn-88 svg {
  fill: #000;
  position: relative;
  z-index: 1;
}
.btn-88:hover svg {
  fill: #fff;
}
.btn-88:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  inset: 4px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: scale(1);
  transition: 0.5s;
}
.btn-88:hover:before {
  opacity: 0;
  transform: scale(4);
}


.header {
  background-color: #003580;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 1rem 0px 2rem 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 4rem;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 1.5rem 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  
}
.number-button{
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1rem;
}

.headerSearch {
  height: 20%;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}


@media screen and (max-width: 600px) {

  .bottom{
   
    letter-spacing: normal;
    width: 100vh;

  }



  .first-div{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      padding: 0 0.4rem    
    
  }

  .bottom-span{

    padding: 0 0.5rem;
  }

 


  .contact{
 
    
    margin-left: 1rem;
    margin-bottom: 6rem;

  }

 .number-button{
  font-size: 1.3rem;
 }

  

  h2{
  
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
  }

  .header{

  
  overflow-x: hidden;
    
  }

  .headerList{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    gap: 15px;
  }

  .headerTitle{
    margin-left: 1rem;
    width: 90%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  span{
   margin-right: 10rem;
   
  }

  .headerDesc{
    width: 90%;
    margin-left: 0.8rem;
  }

  .headerBtn{
   margin-left: 1rem;
  }

  
}