.search{
  
    .sectionContainer{
        width: 100%;
        padding: 1.5rem;
        row-gap: 2rem;
        


        .btns{
            background-color: white;
            padding: .5rem;
            border-radius: 1rem;
            flex-direction: column;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

            .singleBtn{
                padding: .8rem 1.5rem;
                font-size: 16px;
                border-radius: 3rem;
                font-weight: 600;
                width: 30%;
                text-align: center;
                cursor: pointer;

                &:hover{
                    background-color: #0071c2;
                    color:white;
                    font-weight: 700;
                    transition: .4s ease;
                }

                span{
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    width: 100%;
                }
            }

            .active{
                background: blue;
                color: white;
                font-weight: 500;
            }
        }

        .searchInputs{
           
            width: 100%;
            justify-content: center;
            flex-direction: row;
            gap: 1rem;

            .singleInput{

                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: end;
                justify-content: center;
                

                .iconDiv{
                    padding: 16px 10px;
                    border-radius: 3rem;
                    background-color: white;
                    margin-right: 1rem;

                    .icon{
                        color: black;
                        opacity: .7;
                    }
                }

                .texts{
                    width: 220px;
                    h4{
                        padding-top: 0;
                        padding-bottom: .7rem;
                        color: black;
                        font-weight: 700;
                    }

                    input {
                        width: 100%;
                        border: 2px solid #ccc; 
                        border-radius: 5px; 
                        padding: 10px; 
                        transition: border-color 0.3s ease;
                        outline: none;
                        background-color: transparent;
                        box-shadow: none;
                      

                        
                        &::placeholder {
                          font-size: 14px; 
                          font-weight: 500;
                          opacity: 0.8; 
                        }
                      }
                      
                      
                      input:focus {
                        border-color: #0071c2; 
                      }
                }
            }
        }
        .btnss{
            width: 50%;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            border-radius: 28px;
            color: white;
            background-color: #0071c2;
            cursor: pointer;
            margin-top: 2rem;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


            .search-icon{
                margin: 0.3rem;
                color: white;
                font-size: 1.3rem;
            }
            
        }
    }
}



@media screen and (max-width: 600px) {

    .search{
  
        .sectionContainer{
            width: 100%;
            padding: 1.5rem;
            row-gap: 2rem;
            
    
    
            .btns{
                background-color: white;
                padding: .5rem;
                border-radius: 1rem;
                flex-direction: column;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
                .singleBtn{
                    padding: .8rem 1.5rem;
                    font-size: 13px;
                    border-radius: 3rem;
                    font-weight: 600;
                    width: 80%;
                    text-align: center;
    
                    &:hover{
                        background-color: #0071c2;
                        color:white;
                        font-weight: 700;
                        transition: .4s ease;
                    }

                    span{
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        width: 100%;
                    }
                }
    
                .active{
                    background: #0071c2;
                    color: white;
                    font-weight: 500;
                }
            }
    
            .searchInputs{
    
                width: 100%;
                justify-content: center;
                flex-direction: column;
                gap: 1.5rem;
    
                .singleInput{
                    .iconDiv{
                        padding: 16px 10px;
                        border-radius: 3rem;
                        background-color: white;
                        margin-right: 1rem;
    
                        .icon{
                            color: black;
                            opacity: .7;
                        }
                    }
    
                    .texts{
                        h4{
                            padding-top: 0;
                            padding-bottom: .7rem;
                            color: black;
                            font-weight: 700;
                        }
    
                        input {
                            width: 100%;
                            border: 2px solid #ccc; 
                            border-radius: 5px; 
                            padding: 10px; 
                            transition: border-color 0.3s ease;
                        
                            outline: none;
                            background-color: transparent;
                            box-shadow: none;
                          
                            
                            &::placeholder {
                              font-size: 14px; 
                              opacity: 0.5; 
                            }
                          }
                          
                          
                          input:focus {
                            border-color: #0071c2; 
                          }
                          
                    }
                }
            }
            .btnss{
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                border-radius: 28px;
                color: white;
                padding: .8rem;
                background-color: #0071c2;
                width: 100%;
                height: fit-content;
                margin-top: 1rem;
                box-shadow: none;
            }
        }
    }
    
}