.payment-icon{

    width: 100%;
   
    
   
}

.flex-box{

    display: flex;
    align-items: center;
    justify-content: center;

}

.main-footer{
    margin: 1rem 8rem;
}
.card-img{
    width: 3rem;
}

.footer-hr{
    margin: 3rem 2rem;
    color: #010101;
}
.paragraph{
    line-height: 16.5px;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    color:gainsboro;
}

