.main-details {
    height: 100%;
    width: 100%;
  }
  
  .main-some-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 5rem 9.5rem;
    border-radius: 8px;
    padding: 5rem 2rem;
    background-color: #f5f7f9;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .main-some-heading {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 500;
  }
  
  .desc {
    line-height: 22.5px;
    font-size: 14px;
    margin: 12px 0;
    padding: 1rem 2rem;
    letter-spacing: 1px;
  }
  
  .sub-some-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .consult-img {
    width: 15rem;
    margin: 0 20px;
  }
  
  .h2-k {
    margin: 0 20px;
    font-weight: 600;
  }
  
  .btn-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003580;
    color: white;
    padding: 1rem 4rem;
    border-radius: 56px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
  
  .icon-10 {
    color: #003580;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
  }
  
  .number {
    margin: 0 12px;
    font-weight: 600;
    font-size: 19px;
  }
  
  .hr {
    margin: 2rem 1rem;
    width: 100%;
    line-height: 22px;
    color: #d3dae1;
  }
  
  .some-details-main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .some-details-footer {
    display: flex;
    padding: 0 1rem;
  }
  
  .some-details-other-details {
    display: flex;
    flex-direction: column;
  }
  
  .some-details-span {
    font-weight: 700;
  }
  
  .icon-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    font-size: 2.5rem;
    color: #003580;
  }
  
  @media screen and (max-width: 600px) {

    .btn-8 {
        padding: 1rem 2rem;
        border-radius: 56px;
        
      }
    .main-details {
      display: flex;
      flex-direction: column;
    }
  
    .main-some-section {
        width: 90%; 
        margin: 2rem auto;
        padding: 3rem 1rem;
      }
  
    .main-some-heading {
      font-size: 1.3rem;
      font-family: sans-serif;
      font-weight: 700;
    }
  
    .sub-some-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
    }
  
    .h2-k {
      margin: 1rem 0;
      font-size: 12px;
    }

    .some-details-main-footer {

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    
    }
  
    .some-details-footer {
      
        padding: 3rem;
        
    }

  
  
    .icon-11 {
        padding-left: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .some-details-other-details{
       
        margin: 0 1rem;
    }

    .some-details-span{
       
       font-size: 1.2rem;
       
    }


  }
  